.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.15;
}

.sidebar > hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0.1px solid rgba(0, 0, 0, 0.1);
}

.sidebar__link {
    text-decoration: none;
}
