.trendingvideos {
    display: flex;
    flex: 0.85;
    flex-wrap: wrap;
    background-color: #f9f9f9;
    padding: 40px 20px;
    height: 95vh;
    padding-bottom: 0;
    object-fit: contain;
    overflow-y: scroll;
}

.trendingvideos::-webkit-scrollbar {
    display: none;
}
